.extraBanners {
   position: relative;
   margin-top: -10rem;
}

.itemWrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.item {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
.name {
   position: relative;
   font-weight: 700;
   background: var(--color-blue);
   padding: 1.2rem 2rem;
}
.name::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 10px;
   height: 100%;
   background: var(--color-blue-dark);
}

.name span {
   display: flex;
   align-items: center;
}
.name span::after {
   content: '';
   display: inline-block;
   position: relative;
   flex: 1;
   height: 1px;
   background: var(--color-blue-dark);
   margin-left: 2.5rem;
}


/* MEDIA QUERY */
@media (max-width: 768px) {

   .extraBanners { margin-top: 1rem; }

   .itemWrapper { grid-template-columns: 1fr; }

   .name {
      font-size: .9rem;
      padding: .7rem 1.5rem;
   }

}